fastapi
uvicorn[standard]

beanie==2.0.1
motor==3.7.1
pymongo==4.16.0


python-dotenv
pydantic
python-multipart

transformers
pillow

torch
torchvision

httpx

langchain
langchain-classic
langchain-community
langchain-core
langchain-ollama
pydantic
